# Standard
scipy
numpy
pandas
xarray

# Plot
matplotlib
seaborn

# Jupyter
ipykernel
ipywidgets

# ML scpecify
scikit-learn
# pytorch
mlflow

# Pkg mngmt
python-dotenv

# pyTorch
--extra-index-url https://download.pytorch.org/whl/rocm6.3
torch
torchvision
torchaudio
tensorboard

# Graphs
torch_geometric

# Pythonic
pydantic
flake8

# Files
pyaml